# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
dist/
build/

# Docker-related files
.docker/
docker-compose.override.yml

# Environment variables
.env

# OS/IDE specific
.DS_Store
Thumbs.db
.vscode/
.idea/